#iframe_div {
    height: 90%;
    border: none;
}

iframe#iframe1 {
    height: 100%;
    width: 100%;
    border: none;
}

#bottom {
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #777777;
}

#bottom a {
    color: #777777;
}